<div class="row mt-3">
	<div class="col">
		<button class="btn btn-sm btn-success" type="button" onclick="myFunction()">Set background color</button>
	</div>
</div>
<div id="jumb" class="jumbotron mt-5">
	<h1>Sign up for a haircut</h1>
</div>

<div class="container border p-5 rounded-sm">
	<div class="row ">
		<small class="text-muted mb-3">Complete all fields and send us, we will prepare for your visit</small>
	</div>

	<form action="/visit" method="post">
	  <div class="form-group">
	    <label>Your name:</label>
	    <input type="text" name="username" class="form-control" value="<%= @username %>">
	  </div>
	  <div class="form-group">
	    <label>Your phone:</label>
	    <input type="text" name="phone" class="form-control" value="<%= @phone %>">
	  </div>

		<!-- Datetimepicker -->

	  <div class="form-group">
	    <label>Visiting date and time:</label>
	    <input id="datetimepicker" type="text" name="date_time" class="form-control" value="<%= @date_time %> " autocomplete="off">
	  </div>

		<div class="form-group">
			<label for="select_barber">Select the barber:</label>
			<select class="form-control" name="barber" id="select_barber">
				<option <%= @barber == 'Jessie Pinkman' ? 'selected' : '' %> >Jessie Pinkman</option>
				<option <%= @barber == 'Walter White' ? 'selected' : '' %> >Walter White</option>
				<option <%= @barber == 'Gus Fring' ? 'selected' : '' %> >Gus Fring</option>
			</select>
		</div>

		<!-- Simplecolorpicker -->

		<div class="form-group">
			<label for="select_barber">Select the color for hear:</label><br>
			<select class="form-control" id="color_picker" name="color">
				<option value="#ffffff">None</option>
				<option value="#7bd148">Green</option>
				<option value="#5484ed">Bold blue</option>
				<option value="#a4bdfc">Blue</option>
				<option value="#46d6db">Turquoise</option>
				<option value="#7ae7bf">Light green</option>
				<option value="#51b749">Bold green</option>
				<option value="#fbd75b">Yellow</option>
				<option value="#ffb878">Orange</option>
				<option value="#ff887c">Red</option>
				<option value="#dc2127">Bold red</option>
				<option value="#dbadff">Purple</option>
				<option value="#e1e1e1">Gray</option>
			</select>
		</div>

	  <button type="submit" class="btn btn-primary" name="signup">Sign up</button>

		<% if @message %>
			<p class="alert alert-success mt-4">
				<%= @message %>
			</p>
		<% end %>
	</form>
</div>



<script type="text/javascript">
	// jQuery styles
	$(function() {
		$('.container.border.p-5.rounded-sm').css('background-color', '#d9e2ff');
		$('.jumbotron.mt-5').css('background-color', '#ededed');
	});

	// Simplecolorpicker
	$(function() {
		$('#color_picker').simplecolorpicker();
	});

	// Datetimepicker
	$(function() {
		$('#datetimepicker').datetimepicker();
	});
</script>
